<div class="col-md-3 table-responsive" id="table-left">
    <table class="table animated rollIn">
        <tbody>
            <tr class="theader text-center">
                <td colspan="2">
                    <h4>THÔNG TIN CÁ NHÂN</h4>
                </td>
            </tr>
            <tr>
                <td><span class="glyphicon glyphicon-education"></span><strong> Lớp</strong></td>
                <td>
                    <%=usr.lop %>
                </td>
            </tr>
            <tr>
                <td><span class="glyphicon glyphicon-heart"></span><strong> Khóa</strong></td>
                <td>
                    <%=usr.khoa %>
                </td>
            </tr>
            <tr>
                <td><span class="glyphicon glyphicon-envelope"></span><strong> Email</strong></td>
                <td>
                    <%=usr.email %>
                </td>
            </tr>
            <tr class="theader text-center">
                <td colspan="2">
                    <h4>THAO TÁC HỆ THỐNG</h4>
                </td>
            </tr>
            <tr>
            	<td colspan="2">
                    <a href="/sinhvien/nguyenvong/<%=usr.id%>"><span class="glyphicon glyphicon-ok"></span> Nguyện vọng đồ án</a>
                </td>
            </tr>
            <tr>
            	<td colspan="2">
                    <a href="/doanthamkhao"><span class="glyphicon glyphicon-list-alt"></span> Đồ án tham khảo</a>
                </td>
            </tr>
            <tr>
            	<td colspan="2">
                    <a href="/sinhvien/doithongtin/<%=usr.ma_sv%>"><span class="glyphicon glyphicon-cog"></span> Cập nhật thông tin cá nhân</a>
                </td>
            </tr>
            <tr>
            	<td colspan="2">
                    <a href="/doimatkhau/<%=usr.id%>"><span class="glyphicon glyphicon-cog"></span> Đổi mật khẩu</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>