<br>
<h2>Tất cả đồ án</h2>
<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên đề tài</th>
            <th>Sinh viên thực hiện</th>
            <th>Giảng viên hướng dẫn</th>
            <th>Điểm</th>
            <th>Kỳ học</th>
            <th>Chi tiết</th>
        </tr>
    </thead>
    <tbody>
        <% doan.forEach((data, index)=>{ %>
            <td><%=index+1%></td>
            <td><%=data.ten_de_tai%></td>
            <td><%=data.ten_sv%></td>
            <td><%=data.ten_gv%></td>
            <td><%=data.diem%></td>
            <td><%=data.kyhoc%></td>
            <td><a href="" title="Xem chi tiết"><span class="btn fa fa-eye"></span></a></td>
        <% }) %>
    </tbody>
</table>