<!DOCTYPE html>
<html lang="en">

<head>
	<%include ../homepage/layout/header%>
</head>

<body>
    <!-- Top menu -->
    <%include ../homepage/layout/menu%>
    <!-- Top content -->
    <%include ../homepage/top-content%>
    <div class="container body">
        <div class="main_container">
            <!-- your code here -->
            <div class="right_col" role="main">
                <div class="row main">
                    <div class="row">
                        <div class="col-sm-12 features section-description wow fadeIn">
                            <h2>Chi tiết đồ án <br>"<%= doan.ten_de_tai%>"</h2>
                            <div class="divider-1">
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    	<div class="col-sm-6 features-box wow fadeInDown">
                    		<ol>
                    			<li><h3>Tên đề tài</h3></li>
                    			<p><%= doan.ten_de_tai%></p>

                    			<li><h3>Thuộc khoa:</h3></li>
                    			<p><%= doan.ten_kv%></p>

                    			<li><h3>Loại đồ án:</h3></li>
                    			<p><%= doan.ten_lda%></p>

                    			<li><h3>Sinh viên thực hiện</h3></li>
                    			<p><%=doan.ten_sv%></p>

                    			<li><h3>Ghi chú sinh viên</h3></li>
                    			<p><%-doan.ghi_chu_sv%></p>

                    			<li><h3>Giảng viên hướng dẫn</h3></li>
                    			<p><%=doan.ten_gv%></p>

                    			<li><h3>Ghi chú giảng viên</h3></li>
                    			<p><%-doan.ghi_chu_sv%></p>

                    			<li><h3>Kì học</h3></li>
                    			<p><%=doan.ki_hoc%></p>

                    			<li><h3>Trạng thái:</h3></li>
                    			<p><%= doan.ten_tt%></p>
                    			<% if(manguoncuoi != null){%>
                    				<li><h3>Mã nguồn cuối</h3></li>
                    				<%if(manguoncuoi.che_do==1){ %>
                    					<ul>
                    						<li>Tệp:</li>
                    						<div> <a href="/upload/manguoncuoi/tep/<%=manguoncuoi.tep%>" download> Nhấp vào đây để tải về </a></div>
                    						<li>Hình ảnh:</li>

                    						<img src="/upload/manguoncuoi/hinh_anh/<%=manguoncuoi.hinh_anh%>" alt="Hình ảnh của mã nguồn cuối"/>

                    					</ul>
                    					<%}else{%>
                    					<p>Chế độ riêng tư, bạn không thể xem được</p>
                    					<%}%>
                    				<%}%>
                    			<% if(baocaotuan != null){%>
                    				<li><h3>Các báo cáo hàng tuần</h3></li>
                    				<% baocaotuan.forEach((bct,i) =>{%>
                    					<ul>
                    						<li>Thời gian:</li>
                    						<p><%= bct.thoi_gian_upload%></p>
                    						<ul>
                    							<li>Tệp:</li>
                    							<div> <a href="/upload/baocaotuan/<%=bct.tep%>" download> Nhấp vào đây để tải về </a></div>

                    							<li>Ghi chú:</li>
                    							<p><%= bct.ghi_chu%></p>
                    						</ul>
                    					</ul>
                    			<%})}%>
                    	</div>
                        <div class="col-sm-6 features-box-wow fadeInUp">
                            <h3>Tệp báo cáo</h3>
                            <iframe src="/upload/tep_bao_cao/<%=doan.tep_bao_cao%>" style="width: 100%; height: 100vh"></iframe>
                            <div> <a href="/upload/tep_bao_cao/<%=doan.tep_bao_cao%>" download> Nhấp vào đây để tải về </a></div>
                        </div>
                    </div>
                 
                </div>
            </div>  
            <!-- your code end-->
        </div>
    </div>
    <!-- Features -->
    <div class="features-container section-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 features section-description wow fadeIn">
                    <h2>About this</h2>
                    <div class="divider-1">
                        <div class="line"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 features-box wow fadeInLeft">
                    <div class="row">
                        <div class="col-sm-3 features-box-icon">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <div class="col-sm-9">
                            <h3>Ut wisi enim ad minim</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 features-box wow fadeInLeft">
                    <div class="row">
                        <div class="col-sm-3 features-box-icon">
                            <i class="fa fa-instagram"></i>
                        </div>
                        <div class="col-sm-9">
                            <h3>Sed do eiusmod tempor</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 features-box wow fadeInLeft">
                    <div class="row">
                        <div class="col-sm-3 features-box-icon">
                            <i class="fa fa-magic"></i>
                        </div>
                        <div class="col-sm-9">
                            <h3>Quis nostrud exerci tat</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 features-box wow fadeInLeft">
                    <div class="row">
                        <div class="col-sm-3 features-box-icon">
                            <i class="fa fa-cloud"></i>
                        </div>
                        <div class="col-sm-9">
                            <h3>Minim veniam quis nostrud</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<%include ../homepage/layout/footer%>
        <!-- Javascript -->
    <%include ../homepage/layout/script%>

<!--[if lt IE 10]>
    <script src="assets/js/placeholder.js"></script>
<![endif]-->
    <script>
        function openTab(tabName) {
            let i, x;
            x = $(".containerTab");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            $('#'+tabName).fadeIn(1500);
        }
    </script>
</body>

</html>