<!DOCTYPE html>
<html>
<head>
	<%include ../admin/layout/header%>
	<link href="/template/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
	<%include ../admin/layout/style_dbtable%>
</head>
<body class="nav-md">
    <div class="container body">
      	<div class="main_container">
			<%include ../admin/layout/menu%>
			<!-- your code here -->
			<div class="right_col" role="main">
	            <div class="col-md-12 col-sm-12 col-xs-12">
                	<div class="x_panel">
                  		<div class="x_title">
                    		<h1 class="label label-success">liên hệ</h1>
                    		<div class="clearfix"></div>
                  		</div>
             		 	<div class="x_content">
            				<table id="datatable-buttons" class="table table-striped table-hover table-bordered">
                      			<thead>
                        			<tr>
                        				<th class="alert-success"><h3>STT</h3></th>
				                        <th class="alert-success"><h3>Tên liên hệ</h3></th>
				                        <th class="alert-success"><h3>Nội dung</h3></th>
				                        <th class="alert-success"><h3>Thời gian</h3></th>
				                        <th class="alert-success"><h3>Sửa / Xóa</h3></th>
                        			</tr>
                      			</thead>
                      			<tbody>
                        			<% if(lienhe != null ){ 
										lienhe.forEach((lh,i)=>{%>
										<tr>
											<td><button class="btn btn-primary btn-round btn-xs"><%=i + 1%></button>
											</td>
											<td><h2><%=lh.ma_gv%></h2></td>
											<td><h2><%=lh.ma_sv%></h2></td>
											<td><h2><%=lh.noi_dung%></h2></td>
											<td><h2><%=lh.thoi_gian%></h2></td>
										</tr>
									<%})}%>
                      			</tbody>
                    		</table>
                    		<a href="/lienhe/them" title="Thêm liên hệ"><button class="btn btn-info btn-lg btn-round" style="z-index: 99; right: 2%; bottom: 2%; position: fixed; width: 60px; height: 60px;"><span class="fa fa-plus"></span></button></a>
                  		</div>
                	</div>
              	</div>
			</div>	
			<!-- your code end-->
			<%include ../admin/layout/footer%>
		</div>
	</div>
	<%include them%>
	<%include ../admin/layout/script%>
	<%include ../admin/layout/script_dbtable%>
	<!-- pnotify -->
	<script src="/template/vendors/pnotify/dist/pnotify.js"></script>
    <script src="/template/vendors/pnotify/dist/pnotify.buttons.js"></script>
    <script src="/template/vendors/pnotify/dist/pnotify.nonblock.js"></script>
	<script>
	   	$('document').ready(function (){
	       $('.ui-pnotify').remove();
	       <%- include ../flash_message %>
	   	});
	</script>
</body>
</html>